{
  rules: {
    no-param-reassign: 0,
    camelcase: 0,
    comma-dangle: 0,
    prefer-destructuring: 0,
  },
  env: {
    browser: true
  },
  'extends': [
    'airbnb-base',
    'plugin:vue/recommended'
  ]
}
